*{
    transition: all .4s ease-in-out;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: .1em;
}

h1{
    cursor: pointer;
    line-height: 15vh;
    margin: 0;
    text-align: center;
    background: white;
}

.bold{
    font-weight: bold;
}

.center-aligned{
    text-align: center;
}

.wrapper {
    position: relative;
	padding: 25vh 0 5vh 0;
    overflow: hidden;
}

.header {
	height: 40vh;
}
.avatar-section {
    padding: 5vh 1vw 0 1vw;
    width: 30vw;
    margin: 0 35vw 0 35vw;
}

.avatar {
	width: 14vw;
    height: 14vw;
    display: inline-block;
    margin: 0 7vw 0 7vw;
    background: url(avatar.jpg) no-repeat;
    background-size: 160%;
    background-position: -20px 0;
    border-radius: 7vw;
}

.info-section {
	position: absolute;
    top: 30vh;
    left: 55vw;
}

.info-section h3{
    margin-top: -1vh;
}

.info-list {
	list-style: none;
}

.info-list li {
	line-height: 4vh;
}

.section:hover h1{
    color: #954f59;
}

.section {
	height: 10vh;
    overflow: hidden;
    padding: 0 20vw 0 20vw;
}

.section:hover{
    height: 55vh;
}

@media screen and (max-width: 850px){
    body{
        font-size: 0.8em;
    }
    
    .wrapper {
	padding: 15vh 0 3vh 0;
}
    
    .header {
	margin-bottom: 10vh;
}
    
    .info-section {
	top: 20vh;
}
    
    .avatar-section {
	width: 40vw;
        margin: 0 30vw 0 30vw;
}
    
    .avatar {
	width: 20vw;
        height: 20vw;
        border-radius: 10vw;
}
    
    .section:hover {
	height: 75vh;
}
}

@media screen and (max-width: 650px){
    body{
        font-size: 0.5em;
    }
    
    .wrapper {
	padding: 10vh 0 3vh 0;
}
    
    .info-section {
	top: 15vh;
}
}
